@use 'variables' as v;

@mixin font-set($size, $line, $weight: 400) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin button-style($bg-color: v.$color-1,
  $text-color: white,
  $padding: 0.75rem 1rem,
  $border-radius: 1rem,
  $hover-bg: darken($bg-color, 10%),
  $border-color: $bg-color ) {
  display: inline-block;
  padding: $padding;
  background-color: $bg-color;
  color: $text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  transition: backgrond-color 03s ease;

  &:hover,
  &:focus {
    background-color: $hover-bg;
  }

  &:active {
    transform: translateY(1px);
  }
}