@use 'variables' as v;
@use 'mixins' as m;

.hidden {
  display: none !important;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-content {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.horizontal-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.btn-active {
  @include m.button-style();
}

.btn-inactive {
  @include m.button-style($bg-color: v.$color-3)
}